.sidebar {
    font-size: 12pt;
    position: sticky;
    height: 100vh;
    min-width: 240px;
}

.sidebar .nav-title {
    padding: 10px 20px 0px 20px;
    font-size: 16pt;
}

.sidebar .nav-item {
    margin: 5px;
}

.sidebar .nav-title:hover {
    cursor: pointer;
    color: #f8f9fa;
}

.sidebar .nav-item #active {
    background-color: #5faaef;
    color: aliceblue;
    border-radius: 5px;
}

.sidebar .nav-item:hover {
    cursor: pointer;
    background-color: #0962b5;
    color: aliceblue;
    border-radius: 5px;
}

.sidebar #title {
    padding: 5px;
    margin-right: 10px;
    flex: 100%
}

.sidebar #title #icon {
    padding: 10px;
    font-size: 14pt;
}

*, ::after, ::before {
    box-sizing: border-box;
}